@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@400;500;600;700&display=swap");

:root {
    --bg-color: #fcec24;
    --primary-color: #1f07b7;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    background-color: var(--bg-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.heading,
.subheading,
.form-field {
    font-family: Bangers, "Helvetica Neue", Arial;
    color: var(--primary-color);
    text-transform: uppercase;
}
.heading {
    font-size: 101px;
}

.subheading {
    font-size: 66px;
}

.form-field {
    font-size: 42px;
}

.btn {
    background-color: var(--primary-color);
    padding: 2vh 2vw;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    min-width: 10vw;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 10px;
    padding: 2vh 1vw;
    border: none;
    font-size: 18px;
}
